server:
  port: 8085
  address: 0.0.0.0

spring:
  webflux:
    timeout:
      read: 5s
      write: 5s
      connect: 3s
  datasource:
    url: jdbc:postgresql://localhost:5432/check_rf
    username: check_user
    password: YszGyMEZmV
    driver-class-name: org.postgresql.Driver
  redis:
    host: localhost
    port: 6379
    password: c4Ivgh
    timeout: 2000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

mco:
  api:
    base-url: https://dr.stm-labs.ru:32355/ais3/smz/SmzIntegrationService
    token: ${MCO_API_TOKEN:chek24_eTkloRYx8}
    user-token: ${MCO_API_TOKEN:chek24_eTkloRYx8}
    timeout: 60000

  partner:
    inn: "5610238469"
    name: "ЧЕК24.РФ"
    type: "PARTNER"

logging:
  level:
    org.example.mcoService: DEBUG
    org.apache.http: DEBUG
    org.apache.http.wire: DEBUG
    org.springframework.ws: DEBUG
    org.springframework.ws.client: DEBUG
    org.springframework.ws.client.MessageTracing.sent: DEBUG
    org.springframework.ws.client.MessageTracing.received: DEBUG
    org.springframework.ws.server.MessageTracing: DEBUG
    org.springframework.oxm: DEBUG