server:
  port: 8081
  address: 0.0.0.0
spring:
  datasource:
    url: jdbc:postgresql://95.213.143.142:5432/users-dev
    username: java_dev_user
    password: YszGyMEZmV
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
